# CUSTOM
public/tmp/*
!public/tmp/.gitkeep

public/images/*
!public/images/.gitkeep

# Node.js
node_modules/
package-lock.json
yarn.lock

# Compiled output
dist/
build/

# TypeScript
*.tsbuildinfo
*.js
*.jsx
*.d.ts

# Environment files
.env
.env.local

# Logs
*.log
logs/

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# NPM cache
.npm/

# Miscellaneous
*.swp
*.swo